* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './second-components/header-second';
@import './second-components/main-second';
@import './second-components/footer-second';
@import './second-components/second-adaptive';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');