@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container {
    width: 100%;
    max-width: 519px;
    display: flex;
    justify-content: space-between;
}

.header_container--nav {
    width: 100%;
    max-width: 281px;
    display: flex;
    justify-content: space-between;
}

.header_container--nav--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #212121;
    text-decoration: none;
    position: relative;
}

.header_container--nav--link:hover {
    color: #2196F3;
    cursor: pointer;
}

.header_container--nav--link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25.5px;
    width: 0;
    height: 4px;
    background: #2196F3;
    transition: width 0.3s ease;
    border-radius: 2px;
}
  
.header_container--nav--link:hover::after {
    width: 100%;
}

.header_content {
    width: 100%;
    max-width: 333px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header_content--email {
    display: flex;
    gap: 10px;
    align-items: center;
    transition: color 0.6s ease;
}

.header_content--email--svg {
    fill: #757575;
    transition: color 0.6s ease;
}

.header_content--email:hover .header_content--email--svg {
    fill: #2196F3; 
    cursor: pointer;
}

.header_content--email--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
    transition: color 0.6s ease;
}

.header_content--email:hover .header_content--email--link {
    color: #2196F3;
    cursor: pointer;
}

.header_content--phone {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_content--phone--svg {
    fill: #757575;
}

.header_content--phone:hover .header_content--phone--svg {
    fill: #2196F3;
    cursor: pointer;
    transition: color 0.6s ease;
}

.header_content--phone--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #757575;
    text-decoration: none;
    transition: color 0.6s ease;
}

.header_content--phone:hover .header_content--phone--link {
    color: #2196F3;
    cursor: pointer;
}

.portfolio {
    width: 100%;
    max-width: 1710px;
    margin: 0 auto;
    border-top: 1px solid #ECECEC;
    padding: 94px 0px;
}

.container {
    width: 100%;
    max-width: 615px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container_content--button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    box-shadow: 0px 3px 1px 0px #0000001A;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 25px;
    margin-right: 8px;
    transition: 500ms ease-in-out;
}

.container_content--button:hover {
    background-color: #2196F3;
    cursor: pointer;
}

.content {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    padding-top: 34px;
    margin: 0 auto;
}

.content_card {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 370px;
    border: 1px solid #EEEEEE;
    position: relative;
    transition: 0.3s ease;
}

.content_card::after {
    content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2196F3E5;
    z-index: 10;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    color: #fff;
    text-align: left;
    padding: 67px 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
  .content_card:hover::after {
    opacity: 1;
}

  .content_card:hover {
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
}

.content_card--title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 6%;
    color: #212121;
    padding: 20px 24px 4px;
}

.content_card--subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3%;
    color: #757575;
    padding: 0px 24px 20px;
}

footer { 
    background-color: #2F303A;
}

.footer_container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer_container--boxFirst {
    padding: 60px 0px;
}

.footer_container--boxFirst img {
    margin-bottom: 20px;
}

.footer_container--boxFirst--adress {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF; 
    text-decoration: none;  
    display: flex; 
    padding-bottom: 9px;
}

.footer_container--boxFirst--email {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
    text-decoration: none;
    display: flex;
    padding-bottom: 9px;
}

.footer_container--boxFirst--phone {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
    text-decoration: none;
    display: flex;
}

.footer_container--boxSecond {
    width: 100%;
    max-width: 206px;
}

.footer_container--boxSecond--text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_container--boxSecond--apps {
    width: 100%;
    max-width: 206px;
    display: flex;
    justify-content: space-between;
}

.footer_container--boxSecond--apps--content {
    background-color: #FFFFFF1A;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.footer_container--boxSecond--apps--content:hover {
    background-color: #2196F3;
}

.footer_container--boxSecond--apps--content--svg {
    fill: #FFFFFF;
}

.footer_container--bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_container--bottom--form--label {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #fff;
}

.footer_container--bottom--form--box  {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.footer_container--bottom--form--box--input {
    width: 358px;
    height: 50px;
    outline: none;
    border: 1px solid #FFFFFF4D;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3%;
    vertical-align: middle;
    color: #FFFFFF99;
}

.footer_container--bottom--form--box--button {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px #00000026;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 28px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}