* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './components/header';
@import './components/main';
@import './components/footer';
@import './components/adaptive';
@import './components/modal';
@import './components/modal-adaptive';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');