@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container {
    width: 100%;
    max-width: 519px;
    display: flex;
    justify-content: space-between;
}

.header_container--nav {
    width: 100%;
    max-width: 281px;
    display: flex;
    justify-content: space-between;
}

.header_container--nav--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #212121;
    text-decoration: none;
}

.header_container--nav--link:hover {
    color: #2196F3;
    cursor: pointer;
}

.header_content {
    width: 100%;
    max-width: 333px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header_content--email {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_content--email--svg {
    fill: #757575;
}

.header_content--email:hover .header_content--email--svg {
    fill: #2196F3; 
    cursor: pointer;
}

.header_content--email--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
}

.header_content--email:hover .header_content--email--link {
    color: #2196F3;
    cursor: pointer;
}

.header_content--phone {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_content--phone--svg {
    fill: #757575;
}

.header_content--phone:hover .header_content--phone--svg {
    fill: #2196F3;
    cursor: pointer;
}

.header_content--phone--link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #757575;
    text-decoration: none;
}

.header_content--phone:hover .header_content--phone--link {
    color: #2196F3;
    cursor: pointer;
}

.solution {
    background-image: url(img/peopls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.solution_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.solution_container--title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 610px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 30px;
}

.solution_container--button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    margin-bottom: 200px;
    padding: 10px 32px;
    cursor: pointer;
}

.info {
    width: 100%;
    max-width: 1170px;
    padding: 94px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.info_card {
    width: 100%;
    max-width: 270px;
}

.info_card img {
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
}

.info_card--title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: 10px;
}

.info_card--text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
}

.whatWeDo {
    width: 100%;
    max-width: 1170px;
    padding-bottom: 94px;
    margin: 0 auto;
}

.whatWeDo_title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    padding-bottom: 50px;
}

.whatWeDo_container {
    display: flex;
    justify-content: space-between;
}

.team {
    background-color: #F5F4FA;
}

.team_title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    padding-top: 94px;
    margin-bottom: 50px;
}

.team_container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
}

.team_container--card {
    width: 100%;
    max-width: 270px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;    
}

.team_container--card--img {
    width: 270px;
}

.team_container--card--name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team_container--card--profession {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #757575;
    padding-bottom: 30px;
}

.team_container--card--content {
    width: 100%;
    max-width: 197px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
}

.team_container--card--content--box {
    background-color: #ffffff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_container--card--content--box:hover {
    background-color: #2196F3;
}

.team_container--card--content--box--svg {
    fill: #AFB1B8;
}
.team_container--card--content--box:hover .team_container--card--content--box--svg {
    fill: white;
}

.clients {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 94px;
}

.clients_title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.clients_container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
}

.clients_container--box {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    max-width: 170px;
}

.clients_container--box:first-child {
    padding: 23px 65px;
}

.clients_container--box:nth-child(2) {
    padding: 19px 65px;
}

.clients_container--box:nth-child(3) {
    padding: 25px 62px;
}

.clients_container--box:nth-child(4) {
    padding: 25px 43px;
}
.clients_container--box:nth-child(5) {
    padding: 23px 54px;
}

.clients_container--box:last-child {
    padding: 23px 38px;
}

.clients_container--box:hover {
    border: 1px solid #2196F3;
    cursor: pointer;
}

.clients_container--box--svg {
    fill: #AFB1B8;
}

.clients_container--box:hover .clients_container--box--svg {
    fill: #2196F3;
}

footer { 
    background-color: #2F303A;
}

.footer_container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 94px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.footer_container--boxFirst {
    padding: 60px 0px;
}

.footer_container--boxFirst img {
    margin-bottom: 20px;
}

.footer_container--boxFirst--adress {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF; 
    text-decoration: none;  
    display: flex; 
    padding-bottom: 9px;
}

.footer_container--boxFirst--email {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
    text-decoration: none;
    display: flex;
    padding-bottom: 9px;
}

.footer_container--boxFirst--phone {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
    text-decoration: none;
    display: flex;
}

.footer_container--boxSecond {
    width: 100%;
    max-width: 206px;
}

.footer_container--boxSecond--text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_container--boxSecond--apps {
    width: 100%;
    max-width: 206px;
    display: flex;
    justify-content: space-between;
}

.footer_container--boxSecond--apps--content {
    background-color: #FFFFFF1A;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container--boxSecond--apps--content:hover {
    background-color: #2196F3;
}

.footer_container--boxSecond--apps--content--svg {
    fill: #FFFFFF;
}