.portfolio {
    width: 100%;
    max-width: 1710px;
    margin: 0 auto;
    border-top: 1px solid #ECECEC;
    padding: 94px 0px;
}

.container {
    width: 100%;
    max-width: 615px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &_content--button {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 3%;
        text-align: center;
        color: #212121;
        box-shadow: 0px 3px 1px 0px #0000001A;
        background-color: #F5F4FA;
        border: none;
        border-radius: 4px;
        padding: 6px 25px;
        margin-right: 8px;
        transition: 500ms ease-in-out;

        &:hover {
            background-color: #2196F3;
            cursor: pointer;
        }
    }
}

.content {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    padding-top: 34px;
    margin: 0 auto;

    &_card {
        background-color: #FFFFFF;
        width: 100%;
        max-width: 370px;
        border: 1px solid #EEEEEE;
        position: relative;
        transition: 0.3s ease;

        &::after {
            content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
            position: absolute;
            left: 0;
            top: 0;
            background-color: #2196F3E5;
            z-index: 10;
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 3%;
            color: #fff;
            text-align: left;
            padding: 63px 24px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover {
            box-shadow: 1px 4px 6px 0px #00000029;
            box-shadow: 0px 4px 4px 0px #0000000F;
            box-shadow: 0px 1px 1px 0px #0000001F;

            &::after {
                opacity: 1;
            }
        }

        &--title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            letter-spacing: 6%;
            color: #212121;
            padding: 20px 24px 4px;
        }

        &--subtitle {
            font-family: Roboto;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 3%;
            color: #757575;
            padding: 0px 24px 20px;
        }
    }
}