body.no-scroll {
    overflow: hidden;
}

.btn {
    padding: 10px 16px;
    border: 0;
    background: var(--blue);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        filter: brightness(0.95);
    }

    &--secondary {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px 0px #00000026;
        padding: 10.5px 5px;
        border-radius: 4px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 6%;
        text-align: center;
        vertical-align: middle;
        color: white;
        border: none;
        width: 100%;
        max-width: 200px;
        margin-bottom: 40px;
        cursor: pointer;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 16px;
    z-index: 20;
    margin: 0 auto;

    &::before {
        content: "";
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &.modal-active {
        display: flex;
    }

    &.show {
        display: flex;
    }
}

.modal {
    width: 100%;
    max-width: 528px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    &__close {
        background: transparent;
        border: 1px solid #0000001A;
        font-size: 14px;
        line-height: 1;
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-top: 8px;
        margin-right: 8px;
        color: #212121;
        transition: 0.3s ease-in-out;

        &:hover {
            color: #2196F3;
        }
    }

    &__body {
        margin: 2px 0 20px;

        &--title {
            font-family: Roboto;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            color: #212121;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--checkbox {
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 30px;

            & span {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #757575;
                margin-left: 8px;
            }
        }
    }

    &_form {
        padding: 8px 40px 0;

        &--link {
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3%;
            color: #2196F3;
        }
    }
}

.form__holder {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:hover svg {
        fill: #2196F3;
    }

    & label {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1;
        margin-bottom: 4px;
        color: #757575;
    }

    & input,
    textarea {
        padding: 11px 12px 11px 12px;
        border: 1px solid #21212133;
        transition: 0.3s ease-in-out;
        border-radius: 4px;
    }

    & textarea {
        resize: none;
        height: 120px;
        padding: 12px 16px;

        &:hover {
            border-color: #2196F3;

            &:hover::placeholder {
                color: #2196F3;
            }
        }

        &::placeholder {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 1%;
            color: #75757580;
            transition: 0.3s ease-in-out;
        }
    }

    &:hover input {
        outline: none;
        border-color: #2196F3;
    }

    & svg {
        position: absolute;
        top: 29px;
        left: 15px;
        width: 12px;
        height: 12px;
        fill: #212121;
        transition: 0.3s ease-in-out;
    }
}